* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-color: #CCCCCC;
}

.container {
    background: linear-gradient(180deg, rgba(33,13,36,1) 0%, rgba(100,31,112,1) 100%);
    width: 48.7rem;
    margin: auto;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    margin-top: 10px;
}

header {
    text-align: center;
}

header h1 {
    color: #FEBF23;
    margin-bottom: 30px;
} 

header p {
    font-size: 1rem;
    margin-bottom: 16px;
}

.sub-container {
    background: linear-gradient(180deg, rgba(100,31,112,1) 0%, rgba(33,13,36,1) 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 10px 10px 10px;
    border-radius: 7px;
    padding: 10px;
}

.sub-container p {
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sub-container input {
    align-self: center;
    width: 31.2rem;
    height: 1.9rem;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
    padding: 7px;
    font-size: 1rem;
    color: #85848C;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 10px 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(61,93,238,1) 0%, rgba(115,206,255,1) 100%);
    border: 10px solid #2638DB;
    border-radius: 8px;
    padding: 12px;
}

.card p {
    margin: 20px;
}

.card img {
    margin-top: -15px;

}

.card button {
    color: #FFFFFF;;
    background-color: #1D0C20;
    border: none;
    border-radius: 4px;
    height: 3.1rem;
    width: 6.25rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.card button:hover {
    background-color: #85848C;
}

@media screen and (max-width: 600px) {
    .container {
        width: 420px;
    }
    
   .sub-container {
    padding: 20px;
   }
   
    .sub-container p {
        font-size: 25px;
    }

    .sub-container input {
        width: 100%;
        height: 40px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .card {
        width: 250px;
        margin-bottom: 20px;
    }

    .card img {
        margin-bottom: 10px;
    }

    .card button {
        width: 120px;
        height: 60px;
        font-size: 20px;
    }

}